@use '../abstracts' as *;

.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background-color: var(--color-bg-0);
  padding: 8px 16px;
  &__block {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  &__title {
    font-size: 1.25rem;
    margin: 0;
    color: var(--color-text-main);
    & a {
      @include resetLinkStyle(var(--color-text-accent));
    }
  }
  @media (max-width: 860px) {
    & .btn--icon .btn__text {
      display: none;
    }
    &__block--title {
      flex: 0 1 auto;
    }
    &__title {
      @include maxLines(1);
    }
  }
  @media (max-width: 600px) {
    &__block--title {
      flex: 1 1 10em;
    }
  }
}

.search-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 4px;
  &__input {
    background-color: var(--color-bg-1);
    color: var(--color-text-main);
    box-sizing: content-box;
    border-style: solid;
    border-width: 1px;
    border-color: var(--color-text-label);
    border-radius: 0.75em;
    margin: 0;
    padding: 0 0.25em;
    font-size: 1em;
    line-height: 1.5em;
    min-height: 1.5em;
    &:focus {
      outline: solid 2px var(--color-text-accent);
      color: var(--color-text-important);
      background-color: var(--color-bg-main);
      // border-color: var(--color-text-accent);
    }
    &::placeholder,
    & .select-placeholder {
      color: var(--color-text-label);
    }
    &--year {
      width: 3.5em;
    }
    @media (max-width: 768px) {
      &--year:placeholder-shown,
      &--type {
        display: none;
      }
    }
  }
}
