@use '../abstracts' as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  @include pillShape(8px);
  padding-left: 8px;
  padding-right: 8px;
  border: none;
  color: var(--color-text-main);
  background-color: var(--color-bg-2);
  cursor: pointer;
  &:hover {
    color: var(--color-text-important);
    background-color: var(--color-bg-3);
  }
  &:active {
    background-color: var(--color-bg-highlight);
  }
}
