@use '../abstracts' as *;
@use '../utilities' as *;
@import '~@fontsource/noto-sans';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

body {
  font-family: 'Noto Sans', sans-serif;
  height: 100vh;
  background-color: var(--color-bg-3);
  color: var(--color-text-main);
}
