// $fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

$sizeBreakpointSm: 576px;
$sizeBreakpointMd: 768px;
$sizeBreakpointLg: 992px;
$sizeBreakpointXl: 1200px;

:root {
  --color-text-main: #111;
  --color-text-important: #000;
  --color-text-secondary: #444;
  --color-text-label: #999;
  --color-text-accent: #057;
  --color-bg-0: #fff;
  --color-bg-1: #eee;
  --color-bg-2: #ddd;
  --color-bg-3: #ccc;
  --color-bg-neutral: #999;
  --color-bg-neutral-transp: #999a;
  --color-bg-highlight: #fec;
  --size-factor-font-main: 1;
  --size-factor-font-heading: 1;
  --size-factor-font-label: 1;
  --size-factor-spacing: 1;
  --size-card-min-width: calc(min(240px, 34vw));
  @media (prefers-color-scheme: dark) {
    --color-text-main: #eee;
    --color-text-important: #fff;
    --color-text-secondary: #ccc;
    --color-text-label: #aaa;
    --color-text-accent: #8df;
    --color-text-highlight: #fd8;
    --color-bg-0: #444;
    --color-bg-1: #333;
    --color-bg-2: #111;
    --color-bg-3: #000;
    --color-bg-neutral: #666;
    --color-bg-neutral-transp: #666a;
    --color-bg-highlight: #755;
  }
  @media (min-width: $sizeBreakpointSm) {
    --size-factor-font-label: 0.9375;
    --size-factor-spacing: 1.0625;
  }
  @media (min-width: $sizeBreakpointMd) {
    --size-factor-font-main: 0.9375;
    --size-factor-font-heading: 1.0625;
    --size-factor-spacing: 1.125;
  }
  @media (min-width: $sizeBreakpointLg) {
    --size-factor-font-main: 1;
    --size-factor-spacing: 1.5;
  }
  @media (min-width: $sizeBreakpointXl) {
    --size-factor-font-main: 1.125;
    --size-factor-font-heading: 1.5;
    --size-factor-font-label: 1;
    --size-factor-spacing: 2;
  }
}

@function responsiveFontSizeMain($base) {
  @return calc($base * var(--size-factor-font-main));
}
@function responsiveFontSizeheading($base) {
  @return calc($base * var(--size-factor-font-heading));
}
@function responsiveFontSizeLabel($base) {
  @return calc($base * var(--size-factor-font-label));
}

@function responsiveSpacing($base) {
  @return calc($base * var(--size-factor-spacing));
}

$headerCollapsedFontsize: 0.75rem;
$headerCollapsedInputPadding: 2px;
$headerCollapsedPadding: 4px;
