$headerMinimizedHeight: 2.75rem;

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  transition: 200ms;
  & > .container {
    height: 100%;
    grid-row: 2;
    overflow-y: hidden;
    $gap: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(var(--size-card-min-width) + $gap), auto));
    &:not(&--has-sidebar) > main {
      grid-column: 1 / -1;
    }
    &:not(&--has-sidebar) > .sidebar--favorites {
      display: none;
    }
    &--has-sidebar > main {
      grid-column: 1 / -2;
    }
    &--has-sidebar > .sidebar--favorites {
      grid-column: -1 / -2;
    }
  }
}

body > .container > main,
.sidebar--favorites {
  overflow-y: auto;
}
.sidebar--favorites {
  background-color: var(--color-bg-2);
}

.results__grid,
.favorites__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--size-card-min-width), auto));
  gap: 8px;
  padding: 8px;
}

.sidebar--transitioning-collapsed {
  opacity: 0.5;
  max-width: 1px;
}

.sidebar--transitioning-expanded {
  opacity: 1;
  max-width: 100vw;
}

.header--minimized {
  position: fixed;
  min-height: $headerMinimizedHeight;
  background-color: rgb(from var(--color-bg-0) r g b / 0.25);
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 16px 0 #0009;
  & ~ .container > * {
    padding-top: $headerMinimizedHeight;
  }
  &:hover {
    background-color: rgb(from var(--color-bg-0) r g b / 0.75);
  }
}
